<h3 class="heading-for-one">Send Someone a Message!</h3>

<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %><br></br>

<div class="new-message">
  <form action='/messages' method="post">
    <label for ="message"> Message: </label>
    <input type="text" name="content" id="content">
    <label for ="recipient"> Recipient: </label>
    <input type="text" name="recipient" id="recipient">
    <input type="submit" name="submit" value="Send Message">
  </form>
</div>
