.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.nav-logo {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.nav-right-side {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

.before-logged-in {
    width: 95%;
    margin: auto;
    padding: 40px;
}

.heading-for-one, .individual-message, .individual-item, .new-item, .new-message {
    width: 95%;
    margin: auto;
    padding: 40px;
}

.heading-for-many {
    text-align: center;
    padding: 30px;
}

.grid-items-container, .grid-messages-container, .grid-users-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 300px;
    margin: auto;
    padding: 40px
}

.error-message {
    color: red;
    width: 95%;
    margin: auto;
    padding: 40px;
}

.success-message {
    color: green;
    width: 95%;
    margin: auto;
    padding: 40px;
}