<h1 class="heading-for-one">Log In</h1>

<div class="error-message">
  <% if flash.has?(:error) %>
    <%= flash[:error] %>
  <% end %>
</div>

<div class="before-logged-in">

  <form action="/login" method="POST">
    <label for ="username">Username: </label>
    <input type="text" name="username" id="username">
    <label for ="password_digest">Password: </label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Login">
  </form>
  
  <br></br>

  <a href="/signup">Sign up instead </a>

</div>
