<h1 class="heading-for-one">Sign Up</h1>

<div class="error-message">
  <% if flash.has?(:error) %>
    <%= flash[:error] %>
  <% end %>
</div>

<div class="before-logged-in">
  <form action="/signup" method="POST">
    <label for ="username">Username: </label>
    <input type="text" name="username" id="username">
    <label for ="password">Password: </label>
    <input type="password" name="password" id="password">
    <label for ="email">Email: </label>
    <input type="text" name="email" id="email">
    <label for ="email">Location: </label>
    <input type="text" name="location" id="location">
    <input type="submit" value="Sign Up">
  </form>

  <br></br>
  
  <a href="/login">Log in instead </a>

</div>
