<h3 class="heading"> List of Users </h2>

<br></br>

<ul class="grid-users-container">
  <% @users.each do |user| %>
    <div class="grid-user">
      <p><strong>Username: </strong><%= user.username %></p>
      <p><strong>Seller's Location: </strong><%= user.location %></p>
      <a href="/users/<%=user.id%>">View User's Listings</a>
    </div>
  <% end %>
</ul>
