<h2> Welcome <%=current_user.username %>! </h2>
<p> ____________________ </p>
  <% @messages.each do |message| %>
    <h3>Message: <%= message.content %></h3>
    <h3>From: <%= message.user.username %> </h3>
    <p> ____________________ </p>
  <% end %>
 <br>
<a href="/messages/new">Message User | </a>
<a href="/users">List of Users | </a>
<a href="/items/new">Create a New Item</a><br><br>
<a href="/logout">Log Out</a>
