<h2> Welcome <%=current_user.username %>! </h2>
<p> ____________________ </p>
<h3>Message: <%= @message.content %> </h3>
<h3>From: <%= @message.user.username %> </h3>
<p> ____________________ </p>

  <form method="post" action="/messages/<%=@message.id%>/delete">
    <input type="submit" value="Delete Message">
  </form>
<% if current_user.id != @message.user_id%>
  <a href="/messages/new">Message User | </a>
<% end %>
<a href="/messages">View Messages | </a>
<a href="/users">List of Users | </a>
<a href="/items">List of Items | </a>
<a href="/items/new">Create a New Item</a><br><br>
<a href="/logout">Log Out</a>
