<h3 class="heading-for-one"> Post a New Item! </h3>

<div class="error-message">
  <% if flash.has?(:error) %>
    <%= flash[:error] %>
  <% end %>
</div>

<br></br>

<div class="new-item">
  <form action='/items' method="post">
    <label for ="title"> Title: </label>
    <input type="text" name="title" id="title">
    <label for ="price"> Price: </label>
    <input type="text" name="price" id="price">
    <label for ="description"> Description: </label>
    <input type="text" name="description" id="description">
    <input type="submit" name="submit" value="Create Your Item">
  </form>
</div>

<br><br>
