<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SuperStore</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/main.css">

  </head>
  <body>
    <header>
      <a id="superstore" href="/"><h1>SuperStore</h1></a>
      <ul>
        <% if is_logged_in? %>
            <a href="/items">Items for Sale | </a>
            <a href="/items/new">Create a New Item | </a>
            <a href="/users">View Users | </a>
            <a href="/messages">View Messages | </a>
            <a href="/messages/new">New Message | </a>
            <a href="/logout">Log Out</a>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>